<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1085,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1240,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1395,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1550,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1705,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{0,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{155,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{310,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{465,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{620,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{775,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{930,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{930,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1085,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1240,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1395,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1550,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1705,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1860,0},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{0,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{155,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{310,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{465,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{620,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{775,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{930,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1085,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1240,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1395,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1550,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1705,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1860,216},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{0,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{155,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{310,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{465,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{620,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{775,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{930,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1085,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1240,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1395,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1550,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1705,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1860,432},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{0,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{155,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{310,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{465,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{620,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{775,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_5_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{1860,648},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_6_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,216}</string>
                <key>spriteSourceSize</key>
                <string>{155,216}</string>
                <key>textureRect</key>
                <string>{{0,864},{155,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flop_across_lucency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,159}</string>
                <key>spriteSourceSize</key>
                <string>{216,159}</string>
                <key>textureRect</key>
                <string>{{155,864},{216,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flop_across_shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,159}</string>
                <key>spriteSourceSize</key>
                <string>{216,159}</string>
                <key>textureRect</key>
                <string>{{371,864},{216,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flop_vertical_lucency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,159}</string>
                <key>spriteSourceSize</key>
                <string>{216,159}</string>
                <key>textureRect</key>
                <string>{{587,864},{216,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flop_vertical_shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,159}</string>
                <key>spriteSourceSize</key>
                <string>{216,159}</string>
                <key>textureRect</key>
                <string>{{803,864},{216,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1019,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1174,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1329,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1484,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1639,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerback_bg3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1794,864},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1949,864},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{2015,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b0be67f7245f129548ea354353ea3e:c79722b81e412ed9784f02bad6e9d454:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
